h1 {
    color: #cfc6cc;
}
h2{ color: #1b53a3;
}
p{2.2em}
body {
    background-color:#657627;}

    a:link { background-color: rgb(8, 31, 39);
        color: rgb(146, 127, 92);
   }
   a:visited { background-color: lightblue;
       color: rgb(13, 49, 20);
   }
   a:hover { background-color: rgb(139, 51, 125);
       color: rgb(172, 25, 14);
   }
   :active { background-color: rgb(195, 255, 98);
       color: rgb(0, 0, 0);
   }
   .flex-container {display: flex; justify-content: left; flex-wrap: wrap}